@page "/"

<PageTitle>Hello.Blazor.Wasm</PageTitle>

<h1>Hello, Blazor Wasm</h1>

This is a [Blazor Web Assembly](https://learn.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-7.0#blazor-webassembly) web application, that is published as a static website to [GitHub Pages](https://pages.github.com/).
