@page "/"

<PageTitle>Hello.Blazor.Wasm</PageTitle>

<h1>Hello, Blazor Wasm</h1>

This is a [Blazor Web Assembly](https://learn.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-7.0#blazor-webassembly) web application, that is published as a static website to [GitHub Pages](https://pages.github.com/).

<p>GitHub Pages Settings</p>
<img src="./GitHub.Pages.Settings.jpg" alt="My Image">

<p>These settings will trigger the files in the /docs folder to be published as a GitHub Pages web site whenever changes are detected on the main branch</p>