@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <FluentHeader>
            Hello.Blazor.Wasm
        </FluentHeader>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
	private bool isDarkTheme = false;
	private async Task ToggleTheme()
	{
		isDarkTheme = !isDarkTheme;
		await JSRuntime.InvokeVoidAsync("changeTheme", isDarkTheme);
	}
}